
@font-face {
    font-family: "ELandNice";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff")
    format("woff");
    font-weight: normal;
    font-display: swap;
}


/*폰트*/
@font-face {
    font-family: 'ELandNice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


body.login_page{
    background: url("../img/travel5.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradientBG 15s ease infinite;
    overflow: hidden;
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientBG {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: transparent !important;
}

/* 왼쪽 */

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);

    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

}

.login-box {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 800px;
    max-width: 90%;
}

/* 왼쪽 로그인 부분 */
.left {
    flex: 1;
    padding: 40px;
}

h4 {
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
}

p {
    color: black;
    font-size: 12px;
    margin-bottom: 20px;
}


.login_text {
    font-weight: bold;
    color: #B9062F;
}

/* 입력창 */
.log_input input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.password {
    position: relative;
}

.passwordbox i {
    color: black;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(140%);
    cursor: pointer;
}

.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 5px 0;
}


.check label{
    gap: 5px;
}

.text2 {
    color: red;
    padding-bottom: 5px;
    font-size: 10px;
    cursor: pointer;
}

.loginbox {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #8DD3BB;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.signup {
    font-family: "ELandNice";
    margin-top: 15px;
    color: black;
    text-align: center;
    cursor: pointer;
}

a {
    text-decoration-line: none;
    color: inherit;
}


/* sns */
.snsbox {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    gap: 10px;
}

.facebook {
    color: blue;
    width: 120px;
}
.google {
    width: 120px;
}
.apple {
    width: 120px;
}

/* 경계선 */
.boundary_line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #112211;
    font-size: 18px;
    margin: 6px 0px;
}

.boundary_line::before,
.boundary_line::after {
    content: "";
    flex-grow: 1;
    background: gray;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 25px 7px;
}


/*페이지 이동*/
.fade-slide-out {
    animation: fadeSlideOut 0.6s forwards;
}

@keyframes fadeSlideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* 오른쪽 이미지 영역 */
.right {
    width: 400px;
    height: 500px;
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

/* 이미지 슬라이드 */
.right img {
    width: 500px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.right img.active {
    opacity: 1;
}



.dot {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.dot.active {
    opacity: 1;
    background: #8DD3BB;
}
