/*body*/
body {
    margin: 0;
    background: #FAFBFC;
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 80px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

/* stays 탭 */
.nav-left {
    display: flex;
    gap: 30px;
}

.nav-container .item{
    display: flex;
}

.tab {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-weight: 600;
    color: #222;
    padding-bottom: 5px;
}

/* 클릭 시 초록색 선 */
.tab.active {
    color: #112211;
}

.tab.active::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #46BD7B;
    border-radius: 0;
}

/* 오른쪽 */
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #d9d9d9;
    position: relative;
}

.mini-circle {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 10px;
    height: 10px;
    background: #ff8682;
    border-radius: 50%;
}

/*오른쪽 영역*/
.content_box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 전체 레이아웃 */
.listing_layout {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    max-width: 1300px;
    margin: 180px auto;
    padding: 0 20px;
}

.button_result{
    display: none;
    text-align: center;
    margin: 20px 0;
}

.button_result button {
    width: 25%;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
    background: #112211;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.tab_content {
    display: none;
}

.tab_content.active {
    display: block;
}

